.homepage {
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/Global-WPS-Survey2023_1600X900_1686240825.jpg')
}

.title {
  background-color: rgba(0, 0, 0, 0.359);
  padding: .5em 1em;
  margin: -.2em 1em;
  border-radius: 5px;
}

.subtitle {
  transform: translateY(-200%);
  background-color: rgba(0, 0, 0, 0.359);
  padding: .5em 1em;
  border-radius: 5px;
}

.logo-img {
  display: block;
  width: 25%;
}