.card {
    margin: 1em 2em;
    background-color: #8C8279;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 2px solid rgba(0, 0, 0, 0.119);
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.119));
}

.card-title {
    color: bisque;
    text-decoration: none;
}

.card-text {
    color: rgb(241, 230, 220);
    text-decoration: none;
}