.card {
    margin: 1em 2em;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 2px solid rgba(0, 0, 0, 0.119);
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.119));
    width: 60vw;
    border-radius: 0;
}

.display-card:hover {
    background-color: #ffffffde !important;
}

.card-title {
    color: #0d0d0d;
    font-weight: 700;
    text-decoration: none;
}

.card-text {
    color: #363636;
    text-decoration: none;
}